.footer {
  padding-top: 1rem;
}

.footer__container {
  row-gap: 0.5rem;
}

.footer__bg {
  background: linear-gradient(135deg, #1a1a1a 0%, #262626 50%, #1a1a1a 100%);
  padding: 1rem 0 1rem;
  border-top: 1px solid rgba(192, 192, 192, 0.2);
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
  font-family: var(--heading-font);
}

.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-family: var(--heading-font);
}

.footer__link {
  color: #FFF;
  transition: color 0.3s ease;
}

.footer__link:hover {
  color: var(--first-color-lighter);
}

.footer__social {
  font-size: 2.25rem;
  margin-right: var(--mb-1);
  color: #FFF;
  transition: all 0.3s ease;
}

.footer__social:hover {
  color: var(--first-color-lighter);
}

.footer__socials {
  display: flex;
  gap: 1rem;
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: rgb(255, 255, 255, 0.5);
  margin-top: var(--mb-1);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__bg {
    padding: 3rem 0 3.5rem;
  }

  .footer__links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer__socials {
    justify-self: flex-end;
  }

  .footer__copy {
    margin-top: 4.5rem;
  }
}

